<%- include("./partials/header.ejs") %>
<div class="d-flex flex-column justify-content-around " style="height: 90vh">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title d-flex">
        <div
          style="
            margin-right: 5px;
            border: 1px solid grey;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            background-color: rgb(135, 238, 238);
          "
        ></div>
        <%- cohort.name %>
      </h5>
      <p class="card-text">
        <%- cohort.members %>  
      </p>
    </div>
    <div class="card-body d-flex justify-content-center">
      <a
        href="/cohort"
        class="btn btn-outline-danger stretched-link"
        style="width: 150px"
        >Delete</a
      >
    </div>
  </div>

  <form action="" class="border px-3 py-3 mb-3">
    <h6 class="card-title">Method</h6>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="methodChoice"
        value="Team Count"
        id="radioTeamCount"
      />
      <label class="form-check-label" for="radioTeamCount"> Team Count </label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="methodChoice"
        value="Number Per Team"
        id="radioNumberPerTeam"
      />
      <label class="form-check-label" for="radioNumberPerTeam">
        Number Per Team
      </label>
    </div>

    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input class="form-control" type="number" id="quantity" name="quantity" />
    </div>

    <div class="form-group d-flex justify-content-center mt-2">
      <button
        class="btn btn-outline-primary align-self-center"
        style="width: 150px"
        type="submit"
        value="Submit"
      >
        Assign Teams
      </button>
    </div>
  </form>

  <div class="border px-3 py-3 mb-3">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Members</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%- include("./partials/footer.ejs") %>
